# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.xcworkspace
xcuserdata
Dataset/
build/
openCV-2.4.11-lib/

#Android compiled Objects
LocalizerClientAndroid/bin
LocalizerClientAndroid/.settings
LocalizerClientAndroid/obj